[Unit]
Description=OCPP Engine
After=syslog.target network.target network-online.target

[Service]
User=root
Type=exec
SuccessExitStatus=143
ExecStart=/usr/local/ocpp-engine/systemd/launch.sh start
ExecStop=/bin/kill -15 $MAINPID
TimeoutStopSec=10

[Install]
WantedBy=reboot.target
