[Unit]
Description=OCPP Server

[Service]
User=root
Type=forking
ExecStart=/usr/local/ocpp-server/systemd/launch.sh start
ExecStop=/bin/kill -15 $MAINPID

[Install]
WantedBy=reboot.target
